---
import MainLayout from '../Layouts/Layout.astro';
import NutritionCalculator from '../components/NutritionCalculator.astro';
---

<MainLayout title="ChefPaws | Nutritional Dashboard">
  <main class="dashboard-container">
    <header class="dashboard-header">
    </header>

    <NutritionCalculator />
    
  </main>
</NutritionLayout>

<style>
  .dashboard-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  @media (max-width: 768px) {
    .dashboard-container {
      padding: 0;
    }

  }

</style>